/* Add your CSS to this file */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul {
    list-style:none;
    margin: 0;
    padding : 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #5A67D8;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding : 40px 20px;
}

.learn-about .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;


} 

.learn-about .card {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.learn-about .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.learn-about .card-body h3 {
    margin-top: 10px;
    color: #333;
}

.learn-about .card-body p {
    color: #555;
    font-size: 14px;
}


body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}